body {
  font-size: 20px;
  padding: 24px;
}

.sidebar {
  width: 340px;
}

.sidebar .sidebar-nav {
  padding: 0 24px 0 24px;
}

.sidebar-nav p {
  font-size: 20px;
  font-weight: 600;
}

.sidebar-nav ul li a {
  font-size: 20px;
}

.sidebar-toggle {
  padding: 10px;
  outline: none;
  position: absolute;
  top: 0;
  left: 300px;
  width: 50px;
}

body.close .sidebar-toggle {
  transform: translateX(-300px);
  width: 50px;
}
